html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: url(img/library.jpeg) no-repeat center
    center/cover;
  font-size: 1.6rem;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  background-color: #cdcd10;
  opacity: 0.9;
}
.quote {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.container {
  max-width: 50rem;
  margin: 20rem auto;
  padding: 2rem;
  border-radius: 1rem;
  opacity: 0.8;
  text-align: center;
  background-color: white;
}
.main-content {
  background-color: white;
}

.text-area {
  margin: 3rem 0;
  background-color: white;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
}

.person {
  margin-top: 0.8rem;
}

button,
.button {
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 0.8rem;
  display: block;
  margin: 0 auto;
  border: none;
  color: white;
  background-color: rgba(25, 25, 25, 0.913);
  cursor: pointer;
}
